*.exe
*.lps
*.bak
*.compiled
*.o
*.ppu
*.rsj
*.dcu
*.ini
*.identcache
*.stat
*.local
*.dsk
*.~dsk
*.res
__history
__recovery
*/backup
*/*/backup
*/__history
*/*/__history
*/__recovery
*/*/__recovery
lib/*
